*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

body{
    width: 100% !important;
    margin: 0px !important;
    background-image: url("/images/svgs/bg-body.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    /* height: 780px; */
}

.header-content-section{
    margin-top: 200px !important;
    margin-bottom: 200px !important;
}

.header-box{
    width: 600px;
    height: 400px;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}




main{
    margin-top: 600px;
}

.intro-sec{

    border-left: 10px solid red;

}

.story-section{
    margin-top: 230px;
}